<!--フラッシュメッセージ-->
<%= render 'layouts/flash_message' %>

  <!--パソコンの表示-->
  <div class = "container d-none d-lg-block">
    <div class = "text-center my-5 py-5">
      <h2 class="mb-5"><strong>~ お問い合せが完了しました ~</strong></h2>
        <div class="thank-text mb-2">この度はお問合せを頂きまして、誠に有難うございます。</div>
        <div class="thank-text mb-2">お問い合せ内容を確認次第、早急に対応致します。</div>
        <div class="thank-text">尚、対応までに少々お時間を要する場合が御座いますのでご了承下さい。</div>
        <div class="thank-text mt-4 pb-5">今後とも当サイトをどうぞ宜しくお願い申し上げます。</div>
    </div>
  </div>

  <!--タブレットの表示-->
  <div class = "container d-none d-md-block d-lg-none">
    <div class = "text-center my-5 py-5">
      <h4 class="mb-5"><strong>~ お問い合せが完了しました ~</strong></h4>
        <div class="thank-text-md mb-2">この度はお問合せを頂きまして、誠に有難うございます。</div>
        <div class="thank-text-md mb-2">お問い合せ内容を確認次第、早急に対応致します。</div>
        <div class="thank-text-md">尚、対応までに少々お時間を要する場合が御座いますのでご了承下さい。</div>
        <div class="thank-text-md mt-4 pb-5">今後とも当サイトをどうぞ宜しくお願い申し上げます。</div>
    </div>
  </div>

  <!--スマホの表示-->
  <div class = "container d-sm-block d-md-none">
    <div class = "text-center my-5 py-5">
      <h6 class="mb-5"><strong>~ お問い合せが完了しました ~</strong></h6>
        <div class="thank-text-sm mb-2">この度はお問合せを頂きまして、誠に有難うございます。</div>
        <div class="thank-text-sm mb-2">お問い合せ内容を確認次第、早急に対応致します。</div>
        <div class="thank-text-sm">尚、対応までに少々お時間を要する場合が御座いますのでご了承下さい。</div>
        <div class="thank-text-sm mt-4 pb-5">今後とも当サイトをどうぞ宜しくお願い申し上げます。</div>
    </div>
  </div>