// Place all the styles related to the public/contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// お問合せ完了の文字

// テレビ、デスクトップPC、ノートパソコンの表示
.thank-text {
  font-size: 21px;
}


// タブレットの表示
.thank-text-md {
  font-size: 14px;
}


// スマホの表示
.thank-text-sm {
  font-size: 10px;
}