// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// エラーメッセージ後に隙間を埋める
.main-about {
  background-color: #000;
}

// aboutの画像設定
.about-image{
  background-image: image-url('about.jpg');
  height: 796px;
  width: 1400px;
  position: relative;
  background-size: 100% 100%;
}

// aboutの文字設定
.about-text{
  font-size: 38px;
  color: #fff;
  text-align: center;
  margin-left: 503px;
  padding: 53px;
  margin-bottom: 70px;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

/*会員側トップ画面の設定*/
.main-top {
  min-height: 93vh;
  max-height: 129vh;
  background-color: #556b2f;
}

// 会員側トップの文字の設定
.top-text-top {
  font-size: 85px;
  margin-top: 62px;
  margin-bottom: 11px;
  text-align: center;
	text-shadow: -2px 2px 9px #fff;
}

// 会員側トップの文字の設定
.top-text {
  font-size: 57px;
  margin-bottom: 85px;
  text-align: center;
  text-shadow: -2px 2px 9px #fff;
}


// レスポンシブの調整
@media screen and (max-width:1500px){

// aboutの画像設定
.about-image{
  width: 1250px;
}

// aboutの文字設定
.about-text{
  font-size: 34px;
  margin-left: 436px;
}

}


@media screen and (max-width:1325px){

// aboutの画像設定
.about-image{
  width: 1103px;
}

// aboutの文字設定
.about-text{
  font-size: 30px;
  margin-left: 372px;
}

}

@media screen and (max-width:1199px){

// aboutの画像設定
.about-image{
  width: 899px;
}

// aboutの文字設定
.about-text{
  font-size: 26px;
  margin-left: 251px;
}

}

@media screen and (max-width:1012px){

// aboutの画像設定
.about-image{
  width: 759px;
}

// aboutの文字設定
.about-text{
  font-size: 24px;
  margin-left: 153px;
}

}


@media screen and (max-width:935px){

// aboutの画像設定
.about-image{
  width: 624px;
}

// aboutの文字設定
.about-text{
  font-size: 22px;
  margin-left: 60px;
}

}


@media screen and (max-width:768px){

// 会員側トップの文字の設定
.top-text-top {
  font-size: 57px;
}

// 会員側トップの文字の設定
.top-text {
  font-size: 43px;
}

// aboutの画像設定
.about-image{
  width: 767px;
}

// aboutの文字設定
.about-text{
  font-size: 20px;
  margin-left: 244px;
}

}

@media screen and (max-width:638px){

// aboutの画像設定
.about-image{
  width: 638px;
}

// aboutの文字設定
.about-text{
  font-size: 18px;
  margin-left: 158px;
}

}



@media screen and (max-width:576px){

// 会員側トップの文字の設定
.top-text-top {
  font-size: 42px;
}

// 会員側トップの文字の設定
.top-text {
  font-size: 28px;
}

}


@media screen and (max-width:508px){

// aboutの画像設定
.about-image{
  width: 508px;
}

// aboutの文字設定
.about-text{
  font-size: 18px;
  margin-left: 27px;
}

}


@media screen and (max-width:388px){

// aboutの画像設定
.about-image{
  width: 388px;
}

// aboutの文字設定
.about-text{
  font-size: 16px;
  margin-left: 7px;
  padding: 24px;
}

}