// Place all the styles related to the public/homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.main-about {
  background-color: #000;
}

// aboutの画像設定
.about-image{
  background-image: image-url('about.png');
  height: 796px;
  width: 1400px ;
  background-size: cover;
  background-position:center;
}

// aboutの文字設定
.about-text{
  font-size: 38px;
  color: #fff;
  text-align: center;
  margin-left: 569px;
  padding: 20px;
  margin-bottom: 110px;
  position: absolute;
  bottom: 0;
  background: rgba(0,0,0,0.5);
}

/*会員側トップ画面の設定*/
.main-top {
  height: 87vh;
  background-color: #556b2f;
}

// 会員側トップの文字の設定
.top-text-top {
  font-size: 85px;
  margin-top: 62px;
  margin-bottom: 11px;
  text-align: center;
}

// 会員側トップの文字の設定
.top-text {
  font-size: 57px;
  margin-bottom: 85px;
  text-align: center;
}


// レスポンシブの調整
@media screen and (max-width:1300px){

.about-text{
  font-size: 30px;
}

}

@media screen and (max-width:700px){

.about-text{
  font-size: 15px;
}

}