// Place all the styles related to the public/post_coffees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 非公開の投稿を表示しないようにする
.unrelease {
  display: none;
}

.area {
  display: none;
  opacity: 0;
  background: #fff;
  padding:50px 20px;
}

.area.is-active {
  display: block;
  animation-name: displayAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a {
  color:#333;
  text-decoration: none;
}