// Place all the styles related to the public/post_coffees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// リンクの設定
a {
  color: #333;
  text-decoration: none;//線を消す
}

a:hover {
  color: #556b2f;
}


//各コンテンツ別でのスクロールの設定

//画面全体の設定
.sidebar {
  display: flex;
  height: 86vh;
  overflow: hidden;//はみ出た部分が隠れる
}


//サイドバーの画面設定
.sidebar-main {
  overflow: auto;//スクロールできる状態にする
  flex: 1;
  background-color: #556b2f;
}


// メインの画面設定
.main {
  overflow: auto;//スクロールできる状態にする
  flex: 2;
  margin: 0px;
}


// 投稿の設定
.card{
  border-width: 4px;
  border-radius: 20px;
}

.card:hover{
  border-color: #444;
  border-width: 5px;
}