// Place all the styles related to the public/post_coffees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// 非公開の投稿を表示しないようにする
.unrelease {
  display: none;
}

.tab {
  flex-wrap: wrap;
}


.tab li a {
  display: block;
  background:#ddd;
  margin:0 2px;
  padding:10px 20px;
}

// 公開・非公開の背景色
.tab li.active a {
  background:#fff;
}


.area {
  display: none;
  opacity: 0;
}

.area.is-active {
  display: flex;
  animation-name: displayAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

@keyframes displayAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

a {
  color:#333;
  text-decoration: none;
}


/*各コンテンツ別でのスクロールの設定*/
.sidebar-main {
  display: flex;
  height: 82vh;
}

.sidebar,
.main {
  height: 82vh;
}

/*画面全体の設定*/
.sidebar {
  overflow: auto;
  flex: 1;
  background: #556b2f;
}

/*サイドバーの画面設定*/
.sidebar-main {
  overflow: hidden;
}

.main {
  margin: 0px;
  overflow: auto;
  flex: 2;
  background-color: #DDDDDD;
  animation-name: displayAnime;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}


// 投稿の設定
.card{
 border-width: 6px;
}

.card:hover{
  border-color: #556b2f;
  border-width: 4px;
}