// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// 退会確認画面の文字の設定
.text-unsubscribe {
  font-size: 28px;
}


.text-unsubscribe-md {
  font-size: 22px;
}


.text-unsubscribe-sm {
  font-size: 14px;
}


// 退会確認画面のクリックの文字の設定
.text-unsubscribe-end-md {
  font-size: 18px;
}


.text-unsubscribe-end-sm {
  font-size: 12px;
}


// 退会確認画面の文字の設定
.text-unsubscribe-strong {
  text-decoration: underline;
  color: #BB0000;
}