// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


// 退会確認画面の文字の設定
.text-end {
  font-size: 28px;
}

.text-end-strong {
  text-decoration: underline;
  color: #BB0000;
}