<div class="admin-main">
  <!--フラッシュメッセージ-->
  <%= render 'layouts/flash_message' %>
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
          <h4 class="col-md-4 col-lg-4 col-xl-3 py-1 mt-2 back-text"><strong>投稿一覧</strong></h4>

            <% if @post_coffees.present? %>
              <%= render 'admin/post_coffees/post_list' %>
            <% else %>
              <h3 class="text-center mt-5"><strong>まだ投稿はありません</strong></h3>
            <% end %>
        </div>
      </div>
    </div>

  <!--ページネーション-->
  <div class="mx-auto mt-3 pb-5">
    <%= paginate @post_coffees %>
  </div>
</div>