<div class="admin-main">
  <!--フラッシュメッセージ-->
  <%= render 'layouts/flash_message' %>
    <div class="container">
      <div class="row">
        <div class="col-12 mx-auto">
          <h4 class="col-md-4 col-lg-4 col-xl-3 py-1 mt-2 back-text shadow"><strong>投稿一覧</strong></h4>

            <% if @post_coffees.present? %>
              <%= render 'admin/post_coffees/post_list' %>
            <% else %>

              <!--テレビ、デスクトップPCの表示-->
              <h3 class="text-center mt-5 d-none d-lg-block"><strong>まだ投稿はありません</strong></h3>

              <!--ノートパソコン、タブレット、スマホの表示-->
              <h4 class="text-center mt-5 d-block d-lg-none"><strong>まだ投稿はありません</strong></h4>

            <% end %>
        </div>
      </div>
    </div>

  <!--ページネーション-->
  <div class="mx-auto mt-3 pb-5">
    <%= paginate @post_coffees, theme: 'bootstrap-5' %>
  </div>
</div>