<div class="container">
  <div class="row">
    <h4 class="col-md-9 col-lg-6 col-xl-5 py-1 mt-2 back-text shadow">
      <strong>
        投稿名『<%= params[:keyword].truncate(10) %>』
      </strong>
    </h4>

      <!--全体の数とページの数を表示-->
      <div class="col-sm-5 col-lg-5 col-xl-5 list-top-all mt-3">
        <%= page_entries_info(@post_coffees) %>
      </div>
  </div>

    <div class="row">
      <% if @post_coffees.present? %>
        <!--一覧一部テンプレート-->
        <%= render 'public/post_coffees/post_index' %>
      <% else %>

        <!--パソコンの表示-->
        <div class="mx-auto mt-5 d-none d-lg-block">
          <h3>
            <strong>
              一致する投稿名は検出できませんでした
            </strong>
          </h3>
        </div>

        <!--タブレットの表示-->
        <div class="mx-auto mt-5 d-none d-md-block d-lg-none">
          <h4>
            <strong>
              一致する投稿名は検出できませんでした
            </strong>
          </h4>
        </div>

        <!--スマホの表示-->
        <div class="mx-auto mt-5 d-block d-md-none">
          <h6>
            <strong>
              一致する投稿名は検出できませんでした
            </strong>
          </h6>
        </div>
      <% end %>

  　</div>
</div>

<!--ページネーション-->
<%= render 'layouts/post_paginate' %>