<div class="main-top">

  <!--フラッシュメッセージ-->
  <%= render 'layouts/flash_message' %>

  <div class="container">
    <div class="row pb-5">
      <div class="mx-auto pb-5">

        <p class="top-text-top"><strong>Coffee_Record</strong></p>
        <p class="top-text"><strong>~ 珈琲の記録 ~</strong></p>

          <div class="col-sm-8 col-md-7 col-lg-7 col-xl-7 mx-auto">
              <%= link_to 'ゲストログイン（閲覧用）', users_guest_sign_in_path, method: :post, class: "btn gest-user-btn btn-block mb-5 shadow" %>

              <%= link_to "新規登録", new_user_registration_path, class: "btn user-sign-btn btn-block mb-5 shadow" %>

              <%= link_to "ログイン", new_user_session_path, class: "btn log-btn btn-block shadow" %>
          </div>

      </div>
    </div>
  </div>
</div>