<div class="container">
  <div class="row">
    <div class="mx-auto">
      <div class="mb-4">
        <h1>Coffee_Record</h1>
      </div>
       <%= link_to "新規登録", new_user_registration_path %><br>
       <%= link_to "ログイン", new_user_session_path %><br>

       <!--実装時のみ-->
        <%= link_to "管理者ログイン", new_admin_session_path %>
    </div>
  </div>
</div>