<table class="table shadow table-hover back-background col-xl-12 col-lg-13 col-md-12 comment-table">
  <thead class="table-active back-admin">
    <tr>
      <th class="text-light">会員名・コメント日時</th>
      <th class="text-light" style="width: 70%">コメント内容</th>
    </tr>
  </thead>
<% @coffee_comments.each do |coffee_comment| %>
  <tbody>
    <tr>
      <td><%= coffee_comment.user.name %><br>

        <!--コメント日時-->
        <div class="mt-5"><%= l coffee_comment.created_at %></div>
      </td>

      <!--コメント内容-->
　　　<td style="word-break: break-all"><%= coffee_comment.comment %></td>
    </tr>
  </tbody>

  <!--削除ボタン-->
  <tbody>
    <tr>
      <td></td>
      <td>
        <div class="row justify-content-end mr-5">
          <%= link_to "削除", post_coffee_coffee_comment_path(coffee_comment.post_coffee, coffee_comment), method: :delete, data: {confirm: "本当に削除しますか？"}, remote: true, class: "btn destroy-btn" %>
        </div>
      </td>
    </tr>
  </tbody>

<% end %>
</table>