<table class="table shadow table-hover back-background col-xl-12 col-lg-13 col-md-12 comment-table">
  <thead class="table-active back-admin">
    <tr>
      <th class="text-light">会員名・コメント日時</th>
      <th class="text-light" style="width: 60%">コメント内容</th>
      <th></th>
    </tr>
  </thead>
<% @coffee_comments.each do |coffee_comment| %>
  <tbody>
    <tr>
      <td><%= coffee_comment.user.name %><br>

        <!--コメント日時-->
        <div class="mt-5"><%= l coffee_comment.created_at %></div>
      </td>

      <!--コメント内容-->
　　　<td><%= coffee_comment.comment %></td>

　　　<td>
        <div class="row justify-content-end mr-5">
          <%= link_to "削除", admin_coffee_comment_path(coffee_comment.id), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-sm destroy-btn shadow" %>
        </div>
      </td>
    </tr>
  </tbody>
<% end %>
</table>