<table class="table table-bordered table-hover table-secondary mt-2 shadow">
  <thead>
    <tr>
      <th class="text-center table-dark">珈琲の淹れ方</th>
    </tr>
  </thead>

  <tbody>
    <% tags.each do |tag| %>
      <tr>
        <td>
          ・<%= link_to tag.tag_name, tag_path(tag.id), class:"text-dark"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>