<table class="table table-bordered table-hover table-secondary shadow">
  <thead>
    <tr>
      <th class="text-center table-dark">珈琲豆の種類</th>
    </tr>
  </thead>

  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <td>
          ・️️<%= link_to genre.genre_name, genre_path(genre.id), class:"text-dark"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>