<table class="table table-bordered table-hover table-secondary shadow">
  <thead>
    <tr>
      <th class="text-center table-dark">珈琲の種類</th>
    </tr>
  </thead>

  <tbody>
    <% categorys.each do |category| %>
      <tr>
        <td>
          ・<%= link_to category.category_name, category_path(category.id), class:"text-dark"%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>