<div class="admin-main">
<%= render 'layouts/flash_message' %>
  <div class="container">
    <div class="row">
      <div class="mx-auto">
        <h4 class="col-md-6 col-lg-5 col-xl-6 py-1 mt-2 back-text mx-auto"><strong>管理一覧リスト</strong></h4>
          <div class="col-xl-12 col-lg-12 col-md-4 col-sm-5 mx-auto justify-content-start">
            <%= link_to "珈琲の淹れ方一覧", admin_tags_path, class: "btn btn-dark btn-lg mt-5" %>
            <%= link_to "珈琲の種類一覧", admin_categorys_path, class: "btn btn-dark btn-lg mt-5 ml-2" %>
            <%= link_to "珈琲豆の種類一覧", admin_genres_path, class: "btn btn-dark btn-lg mt-5" %>
          </div>
      </div>
    </div>
  </div>
</div>