<div class="container">
  <h4 class="col-xl-4 col-lg-5 col-md-7 py-1 mt-2 back-text"><strong><%= @tag.tag_name %>一覧</strong></h4>
    <div class="row">

      <% if @post_coffees.present? %>
        <%= render 'public/post_coffees/post_index' %>
      <% else %>
        <div class="mx-auto mt-5">
          <h3><strong><%= @tag.tag_name %></strong>の投稿はありません</h3>
        </div>
      <% end %>

  　</div>
</div>

<!--ページネーション-->
<div class="mx-auto mt-3 pb-5">
  <%= paginate @post_coffees, theme: 'bootstrap-5' %>
</div>