/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */




/*ページネーションのレイアウト*/

/*ページネーション初期の設定*/
.pagination>li>a {
  border: none;
  color: #000;
  background-color: rgba(0,0,0,0);
}

/*ページネーション全体*/
.pagination {
  justify-content: center;
}

/*ページネーションにカーソルを載せた時の設定*/
.pagination>.active>a,
.page-item.active .page-link,
.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover{
  color: #FFF;
  background: rgba(0,0,0,0.5);
  border-radius: 15px;
}


/*全体の文字の書体*/
p,
h1,
h2,
h3,
h4,
h5,
h6
a,
div{
  font-family:  serif,'arial black';
}

/*全体の背景色を設定*/
body {
  background-color: #DDDDDD;
}

/*フッターの位置固定*/
footer {
  position: absolute;
  width: 100%;
  bottom: 0;
}