/*ボタンの設定*/

/*新規登録*/
.user-sign-btn {
  color: #fff;
  background-color: #888;
  border: 6px outset #777;
}

.user-sign-btn:hover {
  color: #fff;
  background-color: #666;
  border: 6px inset #777;
}


/*ゲストログイン*/
.gest-user-btn {
  background-color: #eee;
  border: 6px outset #ccc;
}

.gest-user-btn:hover {
  color: #fff;
  background-color: #aaa;
  border: 6px inset #bbb;
}


/*ログイン*/
.log-btn {
  color: #fff;
  background-color: #555;
  border: 6px outset #444;
}

.log-btn:hover {
  color: #fff;
  background-color: #333;
  border: 6px inset #444;
}



/*削除*/
.destroy-btn {
  color: #fff;
  background-color: #bb0000;
  border: 6px outset #aa0000;
}

.destroy-btn:hover {
  color: #fff;
  background-color: #880000;
  border: 6px inset #990000;
}


/*投稿*/
.post-btn {
  color: #fff;
  background-color: #6b8a23;
  border: 6px outset #669933;
}

.post-btn:hover {
  color: #fff;
  background-color: #336600;
  border: 6px inset #006600;
}


/*変更保存*/
.update-btn {
  color: #fff;
  background-color: #888;
  border: 6px outset #777;
}

.update-btn:hover {
  color: #fff;
  background-color: #666;
  border: 6px inset #777;
}



/*編集*/
.edit-btn {
  color: #fff;
  background-color: #009900;
  border: 6px outset #008800;
}

.edit-btn:hover {
  color: #fff;
  background-color: #006600;
  border: 6px inset #007700;
}


/*退会*/
.unsubscribe-btn {
  color: #fff;
  background-color: #555;
  border: 6px outset #444;
}

.unsubscribe-btn:hover {
  color: #fff;
  background-color: #333;
  border: 6px inset #444;
}


/*退会しない*/
.unsubscribe-no-btn {
  background-color: #eee;
  border: 6px outset #ccc;
}

.unsubscribe-no-btn:hover {
  color: #fff;
  background-color: #aaa;
  border: 6px inset #bbb;
}


/*管理者トップボタン*/
.admin-btn {
  color: #fff;
  background-color: #444;
  border: 6px outset #333;
}

.admin-btn:hover {
  color: #fff;
  background-color: #222;
  border: 6px inset #111;
}


/*会員詳細　ボタン*/
.user-show-btn {
  color: #fff;
  background-color: #444;
  border: 6px outset #333;
}

.user-show-btn:hover {
  color: #fff;
  background-color: #222;
  border: 6px inset #111;
}


/*新着順*/
.latest-btn {
  background-color: #eee;
  border: 6px groove #eee;
}

.latest-btn:hover {
  color: #000;
  background-color: #bbb;
  border: 6px ridge #bbb;
}


/*投稿順*/
.old-btn {
  background-color: #eee;
  border: 6px groove #eee;
}

.old-btn:hover {
  color: #000;
  background-color: #bbb;
  border: 6px ridge #bbb;
}


/*検索のボタン*/
.search-btn {
  background-color: #333;
  border: 6px outset #555;
}

.search-btn:hover {
  background-color: #222;
  border: 6px inset #555;
}



/*フォロー外す*/
.follower-btn {
  background-color: #BAD3FF;
  border: 6px groove #0000CC;
}

.follower-btn:hover {
  color: #fff;
  background-color: #000080;
  border: 6px ridge #005FFF;
}


/*フォローする*/
.followed-btn {
  background-color: #FFBEDA;
  border: 6px groove #CC0000;
}

.followed-btn:hover {
  color: #fff;
  background-color: #800000;
  border: 6px ridge #FF0461;
}



/*管理者側のお問い合わせの対応状況*/
.status-btn {
  background-color: #eee;
  border: 6px groove #eee;
}

.status-btn:hover {
  color: #000;
  background-color: #bbb;
  border: 6px ridge #bbb;
}



/*管理者側の検索のボタン*/
.admin-search-btn {
  background-color: #4e454a;
  border: 6px outset #594e52;
}

.admin-search-btn:hover {
  background-color: #433d3c;
  border: 6px inset #524748;
}
