<div class="container">
  <div class='row justify-content-center'>
    <div class="mx-auto">
      <h4 class="text-center"><i class="fas fa-bell"></i>通知</h4>
        <p class="text-right"><%= link_to "全削除", notification_path(@notifications), method: :delete, data: {confirm: "本当に削除しますか？"}, class: "btn btn-light" %></p>
          <% if @notifications.exists? %>
            <%= render @notifications %>
          <% else %>
            <p>通知はありません</p>
          <% end %>
    </div>
  </div>
</div>