<div class="container">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mx-auto">
      <h4 class="col-md-4 col-lg-4 col-xl-3 py-1 mt-2 back-text"><strong>会員一覧</strong></h4>

        <% if @users.present? %>
          <%= render 'public/users/user_index' %>
        <% else %>
            <!--テレビ、デスクトップPCの表示-->
            <h3 class="text-center mt-5 d-none d-lg-block"><strong>まだ会員はいません</strong></h3>

            <!--ノートパソコン、タブレット、スマホの表示-->
            <h4 class="text-center mt-5 d-block d-lg-none"><strong>まだ会員はいません</strong></h4>

        <% end %>
    </div>
  </div>
</div>

<!--ページネーション-->
<div class="mx-auto mt-3 pb-5">
  <%= paginate @users, theme: 'bootstrap-5' %>
</div>