<div class="container">
  <div class="row">

      <h4 class="col-md-4 col-lg-4 col-xl-3 py-1 mt-2 back-text shadow">
        <strong>
          会員一覧
        </strong>
      </h4>

      <!--全体の数とページの数を表示-->
      <div class="col-sm-7 col-lg-6 col-xl-5 list-top-all mt-3">
        <%= page_entries_info(@users) %>
      </div>

    <div class="col-12 mx-auto">
      <!--一覧一部テンプレート-->
      <% if @users.present? %>
        <%= render 'public/users/user_index' %>
      <% else %>

        <!--パソコンの表示-->
        <h3 class="text-center mt-5 d-none d-lg-block">
          <strong>
            まだ会員はいません
          </strong>
        </h3>

        <!--タブレット、スマホの表示-->
        <h4 class="text-center mt-5 d-block d-lg-none">
          <strong>
            まだ会員はいません
          </strong>
        </h4>

      <% end %>
    </div>
  </div>
</div>

<!--ページネーション-->
<div class="mx-auto mt-3 pb-5">
  <%= paginate @users, theme: 'bootstrap-5' %>
</div>