<div class="container">
  <h4 class="col-md-5 col-lg-4 col-xl-3 py-1 mt-2 py-1 mt-2 back-text"><strong>会員の投稿一覧</strong></h4>
    <div class="row">

      <% if @post_coffees.present? %>
        <%= render 'public/post_coffees/post_index' %>
      <% else %>
        <div class="mx-auto mt-5">
          <h3><strong>投稿はありません</strong></h3>
        </div>
      <% end %>

  　</div>
</div>

<!--ページネーション-->
<div class="mx-auto mt-3 pb-5">
  <%= paginate @post_coffees, theme: 'bootstrap-5' %>
</div>