<div class = "container">
  <div class = "text-center mt-5 pt-5">
      <h2>本当に退会しますか？</h2>

      <p class="mt-4 text-end">
        退会すると、<strong class="text-end-strong">会員登録情報</strong>や<br>
        これまでの<strong class="text-end-strong">投稿内容</strong>が閲覧できなくなります。
      </p>

      <h5 class="mt-4 mb-4">
        退会する場合は、<strong>「退会する」</strong>をクリックしてください。
      </h5>
    <%= link_to "退会しない", user_path(current_user), class: "btn unsubscribe-no-btn mr-3 shadow" %>
    <%= link_to "退会する", withdrawal_users_path, method: :PATCH, data: {confirm: "本当に退会してもよろしいですか？"}, class: "btn unsubscribe-btn shadow" %>
  </div>
</div>