<% if model.errors.any? %>
  <div class="alert alert-danger">
    <ul>
      <p class="error_message-top"><%= model.errors.count %>件のエラーが発生しました。</p>
      <%= alert %><button type="button" class="close" data-dismiss="alert">&times;</button>
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>