
<% flash.each do |message_type, message| %>
<div class="alert alert-primary text-center">
  <% if flash[:notice] %>
    <p><%= notice %><button type="button" class="close" data-dismiss="alert">&times;</button></p>
  <% end %>
  <% if flash[:alert] %>
    <p><%= alert %><button type="button" class="close" data-dismiss="alert">&times;</button></p>
  <% end %>
</div>
<% end %>