
<% flash.each do |message_type, message| %>
  <% if flash[:notice] %>
    <div class="alert alert-primary text-center">
      <p><%= notice %><button type="button" class="close" data-dismiss="alert">&times;</button></p>
    </div>
  <% end %>

  <% if flash[:alert] %>
    <div class="alert alert-danger text-center">
      <p><%= alert %><button type="button" class="close" data-dismiss="alert">&times;</button></p>
    </div>
  <% end %>
<% end %>